    body {
        font-family: "M PLUS 1p", sans-serif;
    } 

    .introduction{
      padding-top: 1.5em;
      font-size: 35px;
    }
    
    .picbackground{
      background-image: url("DSC05766.JPG");
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin: 1em auto;
      padding-bottom: 1em;
    }
    
    .plantss{
     /*  display: flex;
      flex-direction: column;
      padding-left: 40px; */
          width: 100%;
          padding: 10px;
          margin: auto; 
    }
    
    img{
        height: 398px;
        width: 608px;
        display: inline-block;
        padding: 5px;
    }
	
	.plant_container{
		position: relative;
		height: 408px;
		width: 628px;
		display: inline-block;
	}
	
	.image{
		display: block;
		height: 398px;
        	width: 590px;
	}
	
	
