
    body {
        font-family: "M PLUS 1p", sans-serif;
    } 

    .introduction{
      padding-top: 1.5em;
      font-size: 35px;
    }
    
    .picbackground{
      background-image: url("DSC05766.JPG");
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin: 1em auto;
      padding-bottom: 1em;
    }
    
    .plantss{
     /*  display: flex;
      flex-direction: column;
      padding-left: 40px; */
          width: 100%;
          padding: 10px;
          margin: auto; 
    }
    
    img{
        height: 398px;
        width: 304px;
        display: inline-block;
        padding: 5px;
    }
	
	.plant_container{
		position: relative;
		height: 408px;
		width: 314px;
		display: inline-block;
	}
	
	.image{
		display: block;
		height: 398px;
        	width: 304px;
	}
	
	.overlay{
		
		  position: absolute;
		  top: 83%;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  height: 12%;
		  width: 100%;
		  margin: 0;
		  opacity: 0;
		  transition: .5s ease;
		  background-color: white;
	}
	
.plant_container:hover .overlay {
  opacity: 0.75;
}
.text {
  color: black;
  margin: 0;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  
}	
